{
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "function-paren-newline": "off",
    "max-len": ["error", 80],
    "no-confusing-arrow": "off"
  }
}
